body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* HEADER -->> Navigation Bar */
.navbar-inverse {
    background-color: #fff;
    border-color: #c60064;
}

    .navbar-inverse .navbar-nav > li:hover {
        background-color: #98A92A;
    }

        .navbar-inverse .navbar-nav > li:hover a {
            color: #fff;
        }

    .navbar-inverse .navbar-nav > li > a {
        color: #c60064;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: #c60064;
        }

        .navbar-inverse .navbar-nav > li > a:visited {
            color: #c60064;
        }

.navbar-brand, .navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}

.navbar-nav li {
    cursor: pointer;
}

.navbar-brand img {
    height: 45px;
}

.navbar-brand {
    padding-top: .2em;
}

.navbar-divider {
    width: 2px;
    height: 35px;
    background-color: #c60064;
    margin-top: .6em;
}

.navbar-filter {
    padding-left: .8em !important;
}

    .navbar-filter .navbar-brand {
        line-height: 50px;
        height: 50px;
        padding: 0;
    }

/* user widget */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #98A92A;
    color: #c60064;
}

.login-widget li a {
    height: 30px;
    line-height: 30px;
    color: #c60064 !important;
}

    .login-widget li a span.glyphicon {
        margin-top: 7px;
    }

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

/* FOOTER -->> footer bar */
footer {
    background-color: #80006e;
    border-top: 1px solid #c60064;
}

    footer h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        color: #c60064;
    }

        footer h5 strong {
            vertical-align: sub;
        }

.cdj-footer-icon {
    height: 25px;
    display: inline-block;
}


/* MAIN CONTENT -->> bread crums*/
.breadcrumb {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #80006e;
    border-radius: 20px;
}

    .breadcrumb a {
        color: #fff;
    }

        .breadcrumb a:hover {
            color: #fff;
        }

    .breadcrumb .active {
        color: #ededed;
    }

.smallbreadcrumb {
    padding: 10px 15px;
    margin-bottom: 9px;
}


/* MAIN CONTENT FILTER */

.cdj-filter .well {
    margin-bottom: 10px;
    background-color: rgba(152, 169, 42, 0.4);
    border-radius: 5px;
    border: 1px solid #c60064;
}

.cdj-filter .form-control {
    border-color: #c60064;
    color: #040013;
    border-radius: 20px;
}

.cdj-filter .input-group .form-control {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.cdj-filter .input-group .input-group-addon {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.cdj-filter .control-label {
    color: #c60064;
}

.cdj-filter .input-group-addon {
    border-color: #c60064;
    color: #c60064;
}

.cdj-filter .btn-primary {
    background-color: #c60064;
    border-radius: 20px;
}

.cdj-filter .btn-default {
    border-color: #c60064;
    color: #c60064;
    border-radius: 20px;
}

.cdj-filter .btn-success {
    background-color: #98A92A;
    border-color: #c60064;
    border-radius: 20px;
}

.cdj-filter .btn-info {
    background-color: #92a324;
    border-color: #c60064;
    color: #c60064;
    border-radius: 20px;
}

/* MAIN CONTENT TABLE */

.cdj-results {
    font-size: initial;
}

    .cdj-results .dataTables_length > label {
        font-weight: bold !important;
        color: #c60064;
    }

        .cdj-results .dataTables_length > label > select {
            font-weight: bold !important;
            color: #c60064;
            border-radius: 5px;
            border-color: #c60064;
        }

    .cdj-results table > thead > tr.bg-primary {
        background-color: #c60064;
    }

    .cdj-results table > tbody > tr td:last-child {
        padding: 3px;
    }

    .cdj-results table > tbody > tr.odd:hover {
        background-color: rgba(152, 169, 42, 0.9);
    }

    .cdj-results table > tbody > tr.even:hover {
        background-color: rgba(152, 169, 42, 0.9);
    }

    .cdj-results table > tbody > tr.even {
        background-color: #fff;
    }

    .cdj-results table > tbody > tr td:last-child > a {
        text-decoration: none;
        padding: 1px 3px;
    }

        .cdj-results table > tbody > tr td:last-child > a.btn-primary.look {
            background-color: #92a324;
            border-color: #c60064;
        }

        .cdj-results table > tbody > tr td:last-child > a.btn-primary.edit {
            background-color: #c60064;
            border-color: #c60064;
        }

    .cdj-results table > tbody > tr td:last-child > button {
        padding: 1px 3px;
    }

        .cdj-results table > tbody > tr td:last-child > button.btn_danger.delete {
            background-color: #D30B45;
            border-color: #BA122B;
        }

    .cdj-results .dataTables_scrollBody {
        background-color: #948C8D;
    }

    .cdj-results #QuotationTable_wrapper > div:last-child {
        font-weight: bold !important;
        color: #c60064;
    }

        .cdj-results #QuotationTable_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li > a {
            font-weight: bold !important;
            color: #c60064;
            border-color: #c60064;
        }

        .cdj-results #QuotationTable_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li.previous > a {
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
        }

        .cdj-results #QuotationTable_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li.next > a {
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }
    /*test*/
    .cdj-results #ClienteTable_wrapper > div:last-child {
        font-weight: bold !important;
        color: #c60064;
    }

        .cdj-results #ClienteTable_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li > a {
            font-weight: bold !important;
            color: #c60064;
            border-color: #c60064;
        }

        .cdj-results #ClienteTable_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li.previous > a {
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
        }

        .cdj-results #ClienteTable_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li.next > a {
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #98a92a;
}

.cdj-results #LiProv_wrapper > div:last-child {
    font-weight: bold !important;
    color: #c60064;
}

    .cdj-results #LiProv_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li > a {
        font-weight: bold !important;
        color: #c60064;
        border-color: #c60064;
    }

    .cdj-results #LiProv_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li.previous > a {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    .cdj-results #LiProv_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li.next > a {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #98a92a;
}

.cdj-results #UsuariosTabla_wrapper > div:last-child {
    font-weight: bold !important;
    color: #c60064;
}

    .cdj-results #UsuariosTabla_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li > a {
        font-weight: bold !important;
        color: #c60064;
        border-color: #c60064;
    }

    .cdj-results #UsuariosTabla_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li.previous > a {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    .cdj-results #UsuariosTabla_wrapper > div:last-child > div:last-child .dataTables_paginate ul > li.next > a {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
/* MAIN CONTENT DETAIL*/

.cdj-title h3 {
    margin-top: 10px;
    color: #c60064;
}

.cdj-title .form-group {
    margin-top: 8px;
    margin-bottom: 7px;
}

    .cdj-title .form-group > div {
        padding-right: 0;
    }

.cdj-title .btn-success {
    background-color: #98A92A;
    border-color: #c60064;
    border-radius: 20px;
}

.cdj-quotation-info .panel-primary {
    border-color: #c60064;
}

    .cdj-quotation-info .panel-primary .panel-heading {
        color: #c60064;
        background-color: rgba(152, 169, 42, 0.4);
    }

.cdj-detail .form-control {
    border-color: #c60064;
    color: #c60064;
    border-radius: 20px;
}

.cdj-detail .input-group .input-group-addon {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-color: #c60064;
    color: #c60064;
}
/* MAIN CONTENT Zonas*/

/**Web grid**/

.webgrid-table {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    display: table;
    border-collapse: collapse;
    border: solid  #C5C5C5;
    background-color: white;
}

    .webgrid-table td, th {
        border: 1px solid #C5C5C5;
        padding: 3px 7px 2px;
       ;
    }

.webgrid-header, .webgrid-header a {
 background-color: #c60064;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}

.webgrid-footer {
}

.webgrid-row-style {
    padding: 3px 7px 2px;
}

.webgrid-alternating-row {
    background-color: azure;
    padding: 3px 7px 2px;
}

.col1Width {
    width: 55px;
}

.col2Width {
    width: 220px;
}

/*MAIN CONTENT ACCESS*/
/*input file*/
.RutaDB {
    position: relative;
    display: inline-block;
}

.file-upload__label {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background: #222;
  border-radius: .4em;
  transition: background .3s;
  
  /*&:hover {
     cursor: pointer;
     background: #000;
  }*/
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}


/*MAIN CONTENT LOGIN*/
.Login{
    margin-left:55%;
    margin-top:20%;
}

/*MAIN CONTENT TABLES*/
.TABLING {
    text-decoration: none;
    padding: 1px 3px;
}
#WindowLoad
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:3200;
    filter:alpha(opacity=65);   
    -moz-opacity:65;   
    opacity:0.65;
    background:#999;
}
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:3200;
    filter:alpha(opacity=65);
   -moz-opacity:65;
    opacity:0.65;
    background:#999;
}
/*test*/
.well {
    padding-left: 10px !important;
    padding-right: 10px !important;
}


.forminscripcion {
    padding-left: 35px;
    padding-right: 35px;
}