@model ChaladuradeJabones.Models.ClientesModel
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ClienteId)


        <div class="form-group">

            <label class="control-label col-lg-3"><i class="glyphicon glyphicon-edit"></i> Nuevo Cliente:</label>
            <div class="col-lg-9">
                <input type="text" id="ClienteNom" name="ClienteNom" class="form-control" placeholder="Nombre"/>
                <input type="text" id="ClienteAp1" name="ClienteAp1" class="form-control" placeholder="Primer apellido" />
                <input type="text" id="ClienteAp2" name="ClienteAp2" class="form-control" placeholder="Segundo apellido" />
                <input type="text" id="ClienteMov" name="ClienteMov" class="form-control" placeholder="Móvil" />
                <input type="text" id="ClienteTlf" name="ClienteTlf" class="form-control" placeholder="Teléfono" />
                <input type="text" id="ClienteTVia" name="ClienteTVia" class="form-control" placeholder="Tipo de vía" />
                <input type="text" id="ClienteCalle" name="ClienteCalle" class="form-control" placeholder="Calle" />
                <input type="text" id="ClienteNum" name="ClienteNum" class="form-control" placeholder="Número" />
                <input type="text" id="ClienteEscalera" name="ClienteEscalera" class="form-control" placeholder="Escalera" />
                <input type="text" id="ClientePiso" name="ClientePiso" class="form-control" placeholder="Piso" />
                <input type="text" id="ClienteCP" name="ClienteCP" class="form-control" placeholder="Código Postal" />
                <input type="text" id="ClienteLoc" name="ClienteLoc" class="form-control" placeholder="Localidad" />
                <input type="text" id="ClienteProv" name="ClienteProv" class="form-control" placeholder="Provincia" />
                <input type="text" id="ClienteNFb" name="ClienteNFb" class="form-control" placeholder="Facebook" />
            </div>
        </div>
    </div>
}
